/* Navigation */
	
	.second-nav.dark-nav{
		background-color: rgba(24,24,24,0.95);
	}

	.relative-nav .dark-nav{
		background-color: #1b1b1b;
	}

	.dark-nav .nav-menu ul.dropdown-menu{
		background-color:rgba(33,33,33,1);
	}

	.dark-nav .search-form button{
		background-color:#2b2b2b;
		color:#aaa;
	}

	.dark-nav .nav-menu ul.dropdown-menu a:hover{
		background-color:#2b2b2b !important;
	}

/* Page Elements */
	
	.page-content,
	.dark-note,
	.dark-btn,
	.dark-icon{
		background-color:#161616;
	}

	.boxes.boxes-type-3 .box-icon a.changeable-icon.dark-icon{
		background-color:#222222;
	}

	.bottom-page-texts .bottom-page-buttons a{
		background-color:#232323;
	}

	.boxes.boxes-type-2 .box-icon a.changeable-icon{
		background-color:#2a2a2a;
	}

	a.content-button{
		background-color:#3a3a3a;
	}

	.soft{
		color:#a4a4a4;
	}

	.dark{
		color:#6e6e6e !important;
	}

	.dark.header.header-style-1 + p{
		color:#777777;
	}

	.dark.header.header-style-2 + p{
		color:#a4a4a4;
	}

	.dark.header-style-2{
		color:#4c4c4c;
	}

	.dark-s.header.header-style-2 + p{
		color:#7a7a7a;
	}

	.dark-s.header-style-2{
		color:#656565 !important;
	}

	.dark-layout{
		background-color:#1d1d1d;
	}

	.matt-layout{
		background-color:#575757;
	}

	.sdark-bg,
	.sdark-bg > *,
	.dark-bg,
	.dark-bg > *,
	.xdark-bg,
	.xdark-bg > *,
	.xxdark-bg,
	.xxdark-bg > *,
	.black-bg,
	.black-bg > *,
	.changeable_bg_tone{
		position: relative;
	}

	.sdark-bg:before{
		background-color:rgba(0,0,0, 0.2);
		position: absolute;
		left:0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		content:'';
	}

	.dark-bg:before{
		background-color:rgba(34,34,34, 0.89);
		position: absolute;
		left:0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		content:'';
	}

	.xdark-bg:before{
		background-color:rgba(24,24,24, 0.8);
		position: absolute;
		left:0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		content:'';
	}

	body .light-bg:before,
	.xxdark-bg:before{
		background-color:rgba(0,0,0, 0.75);
		position: absolute;
		left:0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		content:'';
	}

	.black-bg:before{
		background-color:rgba(0,0,0, 0.9);
		position: absolute;
		left:0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		content:'';
	}

	.changeable_bg_tone:before{
		background-color:rgba(0,0,0,1);
		position: absolute;
		left:0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		content:'';
		opacity: 0;
	}

/* Rev Slider Images */

	.video_section .dark-bg:before,
	.video_section .xdark-bg:before,
	.video_section .xxdark-bg:before,
	.video_section .black-bg:before{
		z-index: 1;
	}

	.tp-caption.dark-bg:before,
	.tp-caption.xdark-bg:before,
	.tp-caption.xxdark-bg:before,
	.tp-caption.black-bg:before{
		z-index: 2;
	}

	.boxes.boxes-type-3 .box:hover .box-icon a.changeable-icon{
		background-color:#323232;
	}

	footer.big-footer.dark-footer{
		background-color:#1e1e1e;
	}

	footer.big-footer.dark-footer .footer_bottom{
		background-color:#181818;
	}

/* Dark Layout Options */

	body.dark-layout{
		background-color:#151515;
	}

	body .dark-layout{
		background-color:#171717;
	}

	body .gray-bg{
		background-color:#202020 !important;
	}

/* Header Colors */

	body .feature-boxes .feature-box .feature-text h4,
	body section#features .feature-boxes.type-3 .feature-box:hover .feature-icon,
	body .feature-boxes.type-3 .feature-box:hover .feature-text h4,
	body .feature-boxes.type-3 .feature-box:hover .feature-icon,
	body .feature-boxes.type-3 .feature-box .feature-icon,
	.vntd-team.type-2 .team-boxes .member-details h3,
	body #member-modals .modal-dialog h2.member-header,
	body .boxes.boxes-type-3 .box-texts h4,
	body .boxes.boxes-type-2 .box-header,
	body .timeline-texts h2,
	body .dark-s.header-style-2,
	body ul.mobile-boxes li h4,
	body .content .gray-bg .texts h2.content-header,
	body .about_with_slider .texts .head,
	body .about_with_slider .texts .subhead,
	body #shop .box .item_details .shop_item_header,
	body .media-heading,
	body .blog.masonry-blog .item .details h2.head,
	body .post .post-inner .post-header,
	body .widget .widget-head,
	body .post-header a,
	body .widget h5,
	
	.icon-box-small-left .box-icon {
		color:#d5d5d5;
	}
	
	.vntd-special-heading .subtitle,
	#page-content .progress-bar-style1 .progress-bar-value {
		color: #b6b6b6;
	}
	
	

	body .cbp-l-filters-alignCenter .cbp-filter-item.cbp-filter-item-active,
	body .boxes.boxes-type-2 .box:hover .box-icon a.changeable-icon,
	body .boxes.boxes-type-1 .box:hover .box-icon a.changeable-icon,
	body .boxes.boxes-type-5 .box-icon a.changeable-icon,
	body .nav-tabs>li.active>a,
	body .nav-tabs>li.active>a:focus,
	body .nav-tabs>li.active>a:hover,
	body .post .post-inner .post-more:hover,
	body #blog{
		color:white !important;
	}

/* Text Colors */

	body #team.type-2 .team-boxes .member-details h5,
	body #team.type-2 .team-boxes .member-details p,
	body #member-modals .modal-dialog .modal-body p,
	body .cbp-l-filters-alignCenter .cbp-filter-item,
	body .load-more-button.circle-button,
	body .testimonials.type-2 .testimonial-slide h2,
	body .boxes.boxes-type-3 .box-texts h4 + p,
	body .skills .skill h4,
	body .news .box .details h3,
	body .boxes .box-header,
	body .dark-s.header.header-style-2 + p,
	body ul.mobile-boxes li h4 + p,
	body #shop .box .item_buttons a,
	body .post .post-inner .post-more,
	body .widget .search,
	body .widget .search-button,
	blockquote {
		color:#b6b6b6 !important;
	}
	
	.news .box .details h3 a {
		color: #b6b6b6;
	}

	/* For Darkers */

	body .testimonials.type-2 .testimonial-slide p,
	body .skills .skill h4 + p,
	body .boxes.boxes-type-2 .box-header + p,
	body .news .box .details p.post_message,
	body .timeline-texts h2 + p,
	body .content .gray-bg .texts p,
	body #shop .box .item_details .shop_item_description,
	body select,
	body #shop .single_item_details .right p.description,
	body #shop .single_item_details .right ul li,
	body .media-body,
	body .note,
	body .post .dates .date,
	.votes a{
		color:#9a9a9a !important;
	}

	body .boxes.boxes-type-2 .box-icon a.changeable-icon,
	body .boxes.boxes-type-1 .box-icon a.changeable-icon,
	body .boxes.boxes-type-5 .box:hover .box-icon a.changeable-icon{
		color:#3a3a3a !important;
	}

/* Border Colors */

	body #team.type-2 .team-boxes .member-details .member-more,
	body #member-modals .modal-dialog a.close,
	body #portfolio-filters.type2.cbp-l-filters-alignCenter .cbp-filter-item,
	body #blog-filters.type2.cbp-l-filters-alignCenter .cbp-filter-item,
	body #blog-filters.type2.cbp-l-filters-alignCenter .cbp-filter-item,
	body #portfolio-filters.type2.cbp-l-filters-alignCenter .cbp-filter-item:last-child,
	body #blog-filters.type2.cbp-l-filters-alignCenter .cbp-filter-item:last-child,
	body #blog-filters.type2.cbp-l-filters-alignCenter .cbp-filter-item:last-child,
	body #portfolio-items.type2 .item .center-details .details,
	body .load-more-button.circle-button,
	body .soft-border,
	body #featured-works,
	body .timelineFlat a.t_line_node:after,
	body #features-mobile .f-collapse div,
	body #shop .box .box_inner,
	body div.pagination ul li a, div.pagination ul li a:focus,
	body .nav-tabs>li.active>a,
	body .nav-tabs>li.active>a:focus,
	body .nav-tabs>li.active>a:hover,
	body .table-bordered>tbody>tr>td,
	body .table-bordered>tbody>tr>th,
	body .table-bordered>tfoot>tr>td,
	body .table-bordered>tfoot>tr>th,
	body .table-bordered>thead>tr>td,
	body .table-bordered>thead>tr>th,
	body .sidebar .widget a.tag,
	body .widget .search,
	.sidebar .widget a.tag, .widget .tagcloud a,
	.vntd-team.type-2 .team-boxes .member-details .member-more,
	#page-content .portfolio-filters.portfolio-filters-boxed.cbp-l-filters-alignCenter .cbp-filter-item,
	#page-content .portfolio-filters.portfolio-filters-boxed.cbp-l-filters-alignCenter .cbp-filter-item:last-child,
	.product-features .f-collapse div,
	
	body .contact .contact_form.type-2.white-form input, body .contact .contact_form.type-2.white-form textarea, body .contact .contact_form.type-2.white-form button, body #shop span.strip, body .blog.masonry-blog .item div, body .votes a:hover, body .media-body .details {
		border-color: #222;
	}

	body .contact .contact_form.type-2.white-form input:hover,
	body .contact .contact_form.type-2.white-form textarea:hover,
	body .contact .contact_form.type-2.white-form input:focus,
	body .contact .contact_form.type-2.white-form textarea:focus,
	body select,
	body div.pagination ul li.active a,
	body div.pagination ul li.active a:hover,
	body .light-form input,
	body .light-form textarea,
	body .light-form select,
	body .light-form button,
	body #shop .single_item_details .right .panel,
	body .reply-form input,
	body .reply-form textarea{
		border-color: #444;
	}
	
	body .timelineFlat .t_line_m,
	body #pagetop.white-pagetop a:last-child,
	body .timelineFlat .t_line_m.right,
	body #pagetop.white-pagetop a,
	blockquote {
		border-left-color:#242424;
	}
	
	body #pagetop a:last-child {
		border-color: #242424;
	}

	body #timeline,
	body #features-mobile,
	body .nav-tabs,
	body .post .dates .date,
	body .widget ul.categories li,
	body .comments-header,
	.comments-header, .comments-heading,
	.widget ul.categories li, .widget.widget_recent_entries ul li, .widget.widget_recent_comments ul li, .widget.widget_archive ul li, .widget.widget_categories ul li, .widget ul li {
		border-bottom-color:#333;
	}

	body #shop .box .item_buttons,
	body .blog.masonry-blog .item .posted_button {
		border-top-color:#333;
	}

	body .boxes.boxes-type-5 .box-icon a.changeable-icon,
	body .boxes.boxes-type-5 .box:hover .box-icon a.changeable-icon:after{
		border-color:white;
	}

/* Backrounds */

	body #team.type-2 .team-boxes .member-details .member-more,
	.vntd-team.type-2 .team-boxes .member-details .member-more {
		background-image:url(../../img/plus-mini-dark.png);
	}

	body .timelineFlat .t_line_holder{
		background:url('../../img/timeline/light/line_dark.jpg') repeat-x 0px 49px;
	}

	.footer.big-footer {
		background-color:#131313;
	}

	body footer.big-footer.dark-footer{
		background-color:#151515;
	}

	body .modal-backdrop,
	body #member-modals .modal-dialog a.close,
	body #portfolio-items.type2 .item .cbp-caption-activeWrap,
	body .news .box .details a.post_read_more_button,
	body .timelineFlat a.t_line_node:after,
	body .timelineFlat #t_line_left,
	body .timelineFlat #t_line_right,
	body #features-mobile .f-collapse div,
	body .contact .white-form .error_message,
	body .contact .white-form .submit_message,
	body select,
	body .light-form input,
	body .light-form textarea,
	body .light-form select,
	body .light-form button,
	body #shop .single_item_details .right .panel,
	body .nav-tabs>li.active>a,
	body .nav-tabs>li.active>a:focus,
	body .nav-tabs>li.active>a:hover,
	body .table-striped>tbody>tr:nth-of-type(odd),
	body #shop .box .item_buttons a:hover,
	body .blog.masonry-blog,
	body .post .dates .details ul li:hover,
	body .post .post-inner .post-more,
	body .widget .search,
	.product-features .f-collapse div {
		background:#171717;
	}

	body .contact .contact_form.type-2.white-form input,
	body .contact .contact_form.type-2.white-form textarea,
	body .contact .contact_form.type-2.white-form button,
	body #shop span.strip,
	body .blog.masonry-blog .item div,
	body .votes a:hover,
	body .media-body .details{
		background:#252525;
		opacity: 1;
	}

	body .boxes.boxes-type-2 .box-icon a.changeable-icon,
	body .boxes.boxes-type-1 .box-icon a.changeable-icon,
	body .boxes.boxes-type-5 .box:hover .box-icon a.changeable-icon,
	.icon-box-big-centered-circle .changeable-icon {
		background:white;
	}

	body .boxes.boxes-type-1 .box-icon a.changeable-icon:before{
		background:#e5e5e5;
	}

	body .media{
		background:transparent;
	}


/* Media Screen Color */

	@media only screen and (max-width: 1000px){

		.dark-nav .nav-inner div.nav-menu ul.nav{
			background-color:rgba(34,34,34, 0.95);
		}

		.dark-nav .nav-inner div.nav-menu ul.nav a:hover{
			background-color:#333 !important;
		}

	}


