/*
Theme Name: Alpha Epsilon Pi Theme
Theme URI: http://themeforest.net/user/Veented
Description: Child Theme of Crexis By Veented
Version: 1.0.0
Author: Customized by Matchbook Creative
Author URI: http://matchbookcreative.com
Template: crexis
*/
/* Your code goes below! */

img.site-logo.logo-primary
{
    display: block;
    float: none;

    height: 300px;
    margin: 0 auto;
}
h4,
h5,
h6
{
    font-family: Arial !important;
    font-weight: bold !important;
}
.navigation.double-nav.white-nav.second-nav .dropdown-menu
{
    margin-top: 35px;
}
.logo.f-left
{
    float: none;

    width: 100%;
}
.desktop-nav.nav-menu.clearfix.f-right
{
    display: block;
    float: none;

    width: 750px;
    margin: 0 auto;
}
.navigation.double-nav.white-nav
{
    height: 150px;
}
.desktop-nav.nav-menu.clearfix.f-right
{
    height: 40px;
    margin-top: 50px;
}
.relative-nav .nav a,
.relative-nav .nav-menu ul li > a
{
    line-height: 40px;
}
.navigation .logo img
{
    max-height: 125px;
    margin-top: -20px;
    margin-bottom: 10px;
}
div#pagetop
{
    z-index: 1002;
}
.relative-nav .white-nav
{
    background-color: white;
}
nav#navigation
{
    height: 150px;

    border: none;
}
div#pagetop
{
    border: none;
}
#pagetop.white-pagetop p
{
    color: #545454;
}
.desktop-nav.nav-menu.clearfix.f-right.navigation-menu
{
    height: 20px;
    margin-top: 25px;
}
.second-nav.white-nav .nav-menu ul li a:hover,
.second-nav.white-nav .nav-menu ul li a:active
{
    background: transparent;
}
a.top-bar-nav
{
    position: relative;

    display: inline;

    margin-left: 10px;

    border: none;
}
#pagetop.white-pagetop a
{
    font-size: 11px;

    position: relative;

    display: inline;
    float: none;

    color: #545454;
    border: none;
}
#pagetop a:hover
{
    color: black !important;
}
.vc_column-inner.vc_custom_1488300078259
{
    padding-top: 0 !important;
}
.vc_row.wpb_row.vc_row-fluid.vc_custom_1488300195204.vc_row-has-fill
{
    padding-top: 0;
}
@media all and (max-width: 999px) and (min-width: 1px)
{
    .desktop-nav.nav-menu.clearfix.f-right
    {
        display: none;
    }
    .navigation .logo img
    {
        height: 30px;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 10px;
    }
}
.vc_row
{
    padding: 20px 0;
}
a
{
    color: #1f2c5d;
}
.vc_row.wpb_row.vc_row-fluid.vntd-section-white a
{
    color: white;
}
.notable-alumni-container .wpb_wrapper p
{
    line-height: 18px;
}
.flag-icon img
{
    height: 10px;
    margin-top: -2px;
}
.middle-header p
{
    font-family: Raleway;
    font-size: 20px;
    line-height: 20px;

    margin: 0;
    margin-left: 5px;
    padding: 0;

    color: white;
}
.middle-header h1
{
    font-size: 70px !important;

    margin: 0;
    padding: 0;

    text-align: left;

    color: white;
}
.middle-header h1 b
{
    font-size: 70px !important;
}
.middle-header
{
    width: auto;
}
#executive-office-staff .icon-box-content h4
{
    font-size: 20px !important;
}
#staff-leaders-row .leader-names p
{
    font-size: 16px !important;
    font-weight: bold !important;
    line-height: 14px;

    display: inline-block;

    width: 100%;
    margin: 10px auto 0;

    text-align: center;
}
#staff-leaders-row .leader-position p
{
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 14px;
}
#staff-leaders-row .leader-images
{
    margin-bottom: 10px;
}

#friday-row{
    height: 1029px ;
}

#aepi-blog-row{
    height: 1013px ;
}


a.vc_gitem-link.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-flat.vc_btn3-color-juicy-pink {
    background-color: #f7f7f7;
    color: #3f3f3f;
    text-transform: uppercase;
    width: 100%;
}

.vc_col-sm-12.vc_gitem-col.vc_gitem-col-align-left {
    background-color: #fff;
}

.vc_gitem-zone-mini {
    background-color: #fff;
}

tr, td{
    color: #000;
}

.supreme-const-links{
    color: #1f2c5d;
}

.supreme-const-links:hover{
    color: #e0bf23;
}

.official-philanthropy-list{
    color: #fff;
}

p.copyright {
    color: #fff;
    opacity: 1 !important;
}

@media screen and (min-width: 1024px) and (max-width: 1099px){
 .staff-info{
     width: 100%;
     margin-left: 20%;
 }
}

@media screen and (min-width: 801px) and (max-width: 1023px){
 .staff-info{
     width: 100%;
     margin-left: 20%;
 }
 
 .leadership-programming{
     width: 100%;
     margin-left: 20%;
 }
    
}

@media screen and (min-width: 768px) and (max-width: 800px){
 .staff-info{
     width: 100%;
     margin-left: 30%;
 }
 
 .leadership-programming{
     width: 100%;
     margin-left: 30%;
 }
    
}

@media screen and (min-width: 369px) and (max-width: 414px){
 
 .leadership-programming, .communications-events{
     width: 100%;
     margin-left: 20%;
 }
    
}

@media screen and (min-width: 343px) and (max-width: 368px){
 
 .leadership-programming, .communications-events, .chapter-services{
     width: 100%;
     margin-left: 20%;
 }
}

@media screen and (max-width: 343px){
 
 .leadership-programming, .communications-events, .chapter-services, 
 .membership-services, .admin-services{
     width: 100%;
     margin-left: 23%;
 }
}

.desktop-nav.nav-menu.clearfix.f-right.navigation-menu {
    height: 20px;
    margin-top: 40px;
}

/*fixes for slider*/

#slide-4-layer-8
{
    width: 300px !important;
    min-width: 300px !important;
    max-width: 300px !important;
}
#slide-4-layer-4
{
    left: 0;

    width: 300px !important;
    min-width: 300px !important;
    max-width: 300px !important;
    margin: 0 !important;
    margin-right: 30px !important;
}
#slide-4-layer-5
{
    width: 300px !important;
    min-width: 300px !important;
    max-width: 300px !important;
}
.header-text-section-mobile p,
.header-text-section-mobile h1
{
    text-align: left;

    color: white;
}
.header-text-section-mobile
{
    width: 80%;
    margin: 0 auto;
}
.transparent-header .vc_btn3.vc_btn3-color-white.vc_btn3-style-flat
{
    font-family: Raleway;
    font-size: 20px;

    width: 90%;
    height: 60px;
    min-height: 10vw;
    min-height: 75px;

    text-align: left;

    color: white;
    background-color: rgba(255, 255, 255, .4);
}
.transparent-header .vc_btn3.vc_btn3-color-white.vc_btn3-style-flat:hover
{
    color: white;
    background-color: #e0bf23 !important;
}
.vc_custom_1489600050993
{
    background-position: center bottom;
    background-size: cover;
}
/*end fixes for slider*/

.nav-menu ul
{
    margin-top: -33px;
}
i
{
    opacity: 1;
}
.vntd-social-icons a.social
{
    opacity: 1;
}
.btn,
input[type='submit']
{
    min-width: 250px;

    border-radius: 0;
    outline: 1px black solid;
}
#mega-menu-wrap-topbar #mega-menu-topbar img
{
    width: auto;
    height: 14px;
    margin-top: -4px;
    padding-right: 5px;
}
/*Global CSS*/

h1,
h2
{
    font-family: 'Raleway' !important;
    font-size: 36pt !important;

    text-transform: uppercase !important;
}
p
{
    font-family: 'Arial' !important;
    font-size: 12pt !important;
}
h5,
h6
{
    font-family: 'Arial' !important;
    font-size: 14pt !important;
    font-weight: bold !important;

    text-transform: uppercase !important;
}
figcaption
{
    font-family: 'Arial' !important;
    font-size: 9pt !important;

    text-transform: uppercase !important;
}
.white
{
    color: white !important;
}
.flag-icon
{
    margin-right: 4px !important;
    margin-left: 4px !important;
    padding: 0 !important;
}
.social
{
    color: #fff !important;
}
.footer.big-footer .footer_bottom a.social
{
    font-size: 30px;
}
p.copyright a
{
    color: #fff !important;
}
.vc_row.wpb_row.vc_row-fluid.vc_custom_1491410448736.vc_row-has-fill
{
    padding-top: 0;
}
.logo.f-left
{
    margin-bottom: -40px;
}
.mega-menu-flag a
{
    margin: 0 !important;
    padding-right: 1px !important;
    padding-left: 2px !important;
}
@media (max-width: 767px) and (min-width: 1px)
{
    .navigation .logo img
    {
        height: 70px;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 10px;
    }
}
@media (max-width: 1050px) and (min-width: 768px)
{
    .navigation .logo img
    {
        height: 100px;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 10px;
    }
}
@media (max-width: 999px) and (min-width: 1px)
{
    #pagetop
    {
        display: none;
    }
    nav#navigation
    {
        height: 80px;
    }
}
@media only screen and (min-width: 999px)
{
    .mega-mobile-only
    {
        display: none !important;
    }
}
/*Nav*/

.desktop-nav.nav-menu.clearfix.f-right
{
    width: 780px !important;
}
#pagetop.white-pagetop a
{
    font-size: 13px !important;
}
/*Home*/

#header
{
    margin: 0 auto;
}
#gallery-1 img
{
    border: 0 !important;
}
.welcome-text
{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.welcome-body
{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.icon-box-title
{
    font-family: 'Arial' !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.icon-description
{
    opacity: .8 !important;
}
.icon-box-medium-left-circle .box-icon .changeable-icon
{
    line-height: 45px !important;

    width: 45px !important;
    height: 45px !important;
}
.vc_custom_1488485291637
{
    text-transform: uppercase !important;
}
.vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg
{
    text-transform: uppercase !important;
}
.testimonials.type-1 p.testimonial-content
{
    font-family: Arial !important;
    font-size: 20px !important;
    font-weight: 600;

    text-transform: uppercase;
}
.testimonials.type-1 p.testimonial-author
{
    font-weight: bold !important;
}
/*About Landing Page*/

#header-image
{
    margin-bottom: 0 !important;
}
#about-aepi
{
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    padding: 0 !important;
}
#about-aepi-row
{
    padding: 0 !important;
}
.staff-leadership-title h1
{
    color: #fff !important;
}
.leader-names p
{
    color: #fff !important;
}
.leader-position p
{
    color: #fff !important;
}
p
{
    font-family: Arial !important;

    opacity: .8 !important;
}
/*why aepi*/

.jewish-frat-title h1
{
    color: #fff !important;
}
.jewish-frat-info p
{
    color: #fff !important;
}
/*staff and lay leadership*/

#staff-and-leadership
{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.staff-leadership-title
{
    color: #fff;
}
.chapter-services-info p
{
    display: inherit !important;
}
.board-of-gov-title h1
{
    color: #fff !important;
}
.light-btn
{
    display: table !important;

    margin: 0 auto;
    margin-top: 30px !important;

    text-align: center !important;

    color: #000 !important;
}
.light-button
{
    color: #000;
}
.about-title
{
    margin-top: 0 !important;
}
.leader-names
{
    text-transform: uppercase !important;

    color: #fff !important;
}
.leader-position
{
    text-transform: uppercase !important;

    color: #fff !important;
}
.dark-btn
{
    display: table !important;

    margin: 0 auto;
    margin-top: 0;

    text-align: center !important;

    color: #fff !important;
    outline: 1px solid white;
}
.building-leaders-btn
{
    display: table !important;

    margin: 0 auto;
    margin-top: 0;

    text-align: center !important;

    color: #000 !important;
    outline: 1px solid black;
}
.counter-color-light .counter-title h6,
.counter-color-light
{
    font-size: 12px !important;

    color: #fcd015 !important;
}
.counter-number
{
    font-family: Arial;
    font-size: 65px !important;
    font-weight: bold;
}
.counter-color-light .counter-title h6,
.counter-color-light
{
    font-size: 15px !important;
    font-weight: 100 !important;
}
.counter-row,
.counter-column
{
    text-align: center !important;
}
.counter-title,
.counter-number
{
    text-align: center;
}
.leader-names p
{
    font-family: Arial !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
/*Staff and Lay Leadership*/

#staff-leaders-row,
#staff-leaders-inner-row
{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#building-leaders-row,
#building-inner-row
{
    margin-top: 0 !important;
    margin-bottom: 40px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.staff-info
{
    display: inline-block !important;
}
.chapter-services-info p
{
    display: inherit !important;
}
.masters-title h1
{
    color: #fff !important;
}
.masters-info p
{
    color: #fff !important;
}
.masters-years p
{
    color: #fff !important;
}
.gov-name p
{
    color: #fff !important;
}
.gov-position p
{
    color: #fff !important;
}
/*Opportunities landing page*/

p,
li
{
    color: #000;
}
.opportunities-icon-title
{
    line-height: 5px !important;
}
.opportunities-title h1
{
    color: #fff !important;
}
.opportunities-icon-title p
{
    color: #fff !important;
}
.light-btn a:hover
{
    opacity: 1.0 !important;
    color: #fff !important;
    background-color: #1f2c5d !important;
}
/*Opportunity programs*/

.opps-opps-button
{
    float: left !important;
}
.regional-conclaves-title h1
{
    color: #fff !important;
}
.register-btn
{
    padding-right: 7px;
    padding-left: 7px;

    background-color: #fff !important;
}
.regional-conclaves-info p
{
    color: #fff !important;
}
.aepi-merch-title h1
{
    color: #fff !important;
}
/*Joining AEPi Landing*/

.aepi-joining-title h1
{
    color: #fff !important;
}
.joining-icon-text p
{
    color: #fff !important;
}
/*Support Us*/

.aepi-foundation-title h1
{
    color: #fff !important;
}
.aepi-foundation-info p
{
    color: #fff !important;
}
/*Joining AEPi - Joining AEPi*/

.new-chap-title h1
{
    color: #fff !important;
}
.new-chap-info p
{
    color: #fff !important;
}
/*Partners*/

.partner-images
{
    margin: 0 auto !important;

    text-align: center !important;
}
.partner-images img
{
    margin-right: 20px !important;
    margin-left: 20px !important;
}
/*Alumni involvement*/

.alumni-events-title h1
{
    color: #fff !important;
}
.alumni-events-info p
{
    color: #fff !important;
}
/*News and Events*/

#friday-pi-day,
#aepi-blog,
#aepi-blog-row,
#friday-row
{
    padding: 0 !important;
}
#separator-row,
.separator-column,
.separator
{
    margin: 0 !important;
    padding: 0 !important;
}
.blog-post-grid
{
    padding: 0 !important;
}
.aepi-friday-title
{
    margin-bottom: 0 !important;
}
.calendar-title h1
{
    color: #fff !important;
}
/*Undergraduates*/

.undergraduate-payment-buttons
{
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.payment-sec div
{
    margin-bottom: 0 !important;
}
.registration-title h1
{
    color: #fff !important;
}
.registration-icon-titles p
{
    color: #fff !important;
}
/*Building leaders*/

.official-philanthropy-info p
{
    color: #fff !important;
}
/*Contact Us*/

a.social.facebook
{
    background-color: #3b5998;
}
a.social.twitter
{
    background-color: #00aced;
}
a.social.instagram
{
    background-color: #517fa4;
}
a.social.youtube
{
    background-color: #b00;
}
.tribe-bar-submit {
    margin-left: 12%;
}