/* Editor Styles */

h1,h2,h3,h4,h5,h6 {
	font-family: "Raleway", Helvetica, Arial;
	color: #444;
}

p {
	line-height: 1.5em;
	font-size: 14px;
	font-family: "Open Sans", Helvetica, Arial;
	color: #444;
}

pre {
	padding: 10px 15px;
	font-size: 14px;
	background: #f3f3f3;
	margin-bottom: 20px;
}

blockquote {
	border-left: 2px solid #aaa;
	padding: 5px 15px;
}