/* 
===============================================
	Admin Stylesheet
===============================================
*/

/* 
===============================================
	Inputs
===============================================
*/

.wp-admin select.select,
.wp-admin .wpb-select,
.chosen-container-single .chosen-single {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	outline: none;
	background: #fff url(../../img/select-arrows.png) no-repeat 98% 50% !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	border: 1px solid #ddd;
	color: #333;
	outline: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 6px 18px 6px 6px;
	font-size: 13px;
	line-height: 15px;
	border-radius: 0;
	height: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	text-indent: 0.01px;
	text-overflow: '';
	max-width: 270px;
}

.fullwidth-input {
	width: 100%;
}

.wp-admin select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/* New dropdown menu */
.redux-field-container .select2-choice {
	background: #efefef;
	border-radius: 3px;
	border-color: #efefef;
	box-shadow: none;
}

	.redux-field-container .select2-container-active .select2-choice {
		background: #eaeaea;
		border-color: #eaeaea;
	}
	
	.redux-field-container .select2-container-active .select2-choice .select2-arrow {
		background: #eaeaea;
	}
	
	.select2-drop-active {
		border-color: transparent !important;
		box-shadow: none !important;
		background: #eaeaea;
	}
	
	.select2-results .select2-highlighted {
		border-radius: 3px;
	}
	
	.select2-search input {
		border: 0px;
		border-radius: 3px;
		box-shadow: none !important;
	}

	.redux-field-container .select2-choice .select2-arrow {
		background: #efefef;
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
		border-color: #efefef;
		border-left-color: #ddd;
	}
	
	.redux-group-tab .redux_field_th .description {
		color: #aaa;
		padding-right: 20px;
		line-height: 1.6em;
		font-size: 12px;
	}
	
	.redux-group-tab .redux_field_th {
		font-size: 15px;
		font-weight: 500;
		color: #555;
	}
	
	
	
	.redux-container .redux-group-tab .redux-section-desc {
		color: #bbb;
		font-style: italic;
		font-size: 14px;
	}
	
	.redux-container .redux-group-tab h3 {
		padding-bottom: 6px;
		border-bottom: 1px solid #f1f1f1;
		font-size: 22px;
		font-weight: 500;
		margin-bottom: 15px;
	}
	
	
	
	.redux-main .input-append .add-on, .redux-main .input-prepend .add-on {
		border-color: #d9d9d9;
		border-left-color: #ddd;
		text-shadow: none;
		color: #999;
	}
	
/* Redux Upload */
	
	#vntd_waxom-site_logo_white img {
		background: #666;
		border-color: #666;
	}
	
	.themes-php div.error, .themes-php div.notice, .themes-php div.updated,#setting-error-tgmpa,
	.wp-core-ui .notice.is-dismissible {
		display: block;
	}
/* Redux Switch */

.admin-color-fresh .redux-container-switch .cb-disable, .admin-color-fresh .redux-container-switch .cb-enable, .admin-color-fresh .ui-state-default, .admin-color-fresh .ui-widget-content .ui-state-default, .admin-color-fresh .ui-widget-header .ui-state-default, .wp-customizer .redux-container-switch .cb-disable, .wp-customizer .redux-container-switch .cb-enable, .wp-customizer .ui-state-default, .wp-customizer .ui-widget-content .ui-state-default, .wp-customizer .ui-widget-header .ui-state-default {
	background: #efefef !important;
	color: #666;
	border-color: #efefef !important;
}

.admin-color-fresh .redux-container-switch .cb-enable.selected, .admin-color-fresh .redux-field-container .ui-buttonset .ui-state-active, .wp-customizer .redux-container-switch .cb-enable.selected, .wp-customizer .redux-field-container .ui-buttonset .ui-state-active {
	background: #73D07E !important;
	border-color: #73D07E !important;
	box-shadow: none !important;
	color: #fff !important;
}

.admin-color-fresh .redux-container-switch .cb-disable.selected, .wp-customizer .redux-container-switch .cb-disable.selected {
	background: #EF5E4F !important;
	border-color: #EF5E4F !important;
	color: #fff !important;
}

/* Redux Color Patterns */

.redux-group-tab .redux-container-palette label.ui-button.ui-widget {
	width: 300px !important;
	display: block;
	border: 1px solid #efefef !important;
}

.redux-container-palette label.ui-button.ui-widget .ui-button-text span {
	padding: 9px;
}



/* Redux Border */

.redux-main .form-table tr {
	border-color: #f1f1f1;
}

/* Redux Navigation */

.redux-sidebar .redux-group-menu li a {
	font-weight: normal;
}

/* Redux Sortable Text */

.redux-field.redux-container-sortable li.placeholder {
	height: 64px;
	margin-left: 20px;
}

.redux-field.redux-container-sortable label.bugger {
	font-size: 14px !important;
	margin-bottom: -10px !important;
	display: block;
}

.redux-field.redux-container-sortable label strong {
    font-weight: normal;
}

.redux-field.redux-container-sortable ul.labeled li {
	margin-bottom: 12px !important;
	display: block;
	padding-left: 20px;
	position: relative;
}

.redux-field.redux-container-sortable .ui-draggable-handle, 
.redux-field.redux-container-sortable .ui-sortable-handle {
	margin-top: 5px;
	display: block;
	width: 20px;
	position: absolute;
	left: 0;
	bottom: 12px;
	display: inline-block;
}

.redux-container .form-table textarea,
.redux-container .form-table input[type="text"],
.redux-container .admin-form input.input-text,
.redux-container .admin-form input[type="number"] {
	background: #efefef;
	box-shadow: none;
	border: 0px;
	border-radius: 3px;
	color: #777;
	outline: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 7px 12px;
	font-size: 13px;
	line-height: 15px;
	width: 100%;
}

	.redux-container .form-table input[type="text"]:focus,
	.redux-container .admin-form input:not([type="radio"]):focus,
	.redux-container .admin-form input[type="number"]:focus,
	.redux-container .form-table textarea:focus {
		border-color: #999;
		box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
		background: #f2f2f2;
	}
	
	.vc_shortcode-param textarea[name="features"] {
		height: 140px;
	}

/* Labeled Radios */

.label-radios input {
	position: absolute;
	left: -9999px;
	display: none;
}

.label-radios label {
	display: inline-block;
}

	.label-radios label img {
		padding: 1px;
		border: 2px solid #f0f0f0;
	}
	
	.label-radios label span {
		display: block;
		font-size: 11px;
		width: 80px;
	}

	.label-radios input[type="radio"]:checked+label img{
		border: 2px solid #bbb;
	} 
	
/* Redux Panel Looks & Feel */

.redux-container .redux-main {
	background: #fff;
	margin-left: 180px;
	border-left: 0px;
	padding: 11px 25px;
}

.redux-container .redux-sidebar {
    width: 180px;
    float: left;
    background: #f6f6f6;
}

.redux-container .redux-sidebar .redux-group-menu li a {
	padding: 13px 4px 13px 14px;
	border: 0px;
	border-left: 2px solid transparent;
	opacity: 0.8;
	color: #444;
	text-shadow: none !important;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}

.redux-container .redux-sidebar .redux-group-menu li.active a,
.redux-container .redux-sidebar .redux-group-menu li.activeChild a {
	color: #686B6F;
	border-left: 2px solid #56B3DA;
	background: #fff;
}

	.redux-container .redux-sidebar .redux-group-menu li.active a:hover {
		background: #fff;
		color: #686B6F;
	}

.redux-container .redux-sidebar .redux-group-menu li a:hover {
	background: #F1EEEE;
}

.redux-container .redux-sidebar .redux-group-tab-link-a i {
	font-size: 14px;
	position: absolute;
	color: #999;
	line-height: 19px;
}

.redux-container .redux-sidebar .hasSubSections .extraIconSubsections i {
    margin-left: -2px;
    margin-top: -6px;
    font-size: 10px;
}

.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
    background: #FFFFFF;
    border-color: #56B3DA;
}

	.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a:hover,
	.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a:focus {
	    background: #FFFFFF;
	    border-color: #56B3DA;
	    color: #777;
	}
	
	.redux-sidebar .redux-group-menu li.active.hasSubSections .active a:after, 
	.redux-sidebar .redux-group-menu li.activeChild.hasSubSections .active a:after {
		display: none !important;
	}

.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a {
    background: #EAEAEA;
    text-shadow: none;
    color: #777;
    border-color: transparent;
}

.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover {
	background: #e8e8e8;
	color: #777;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a {
    background: #56B3DA;
    color: #FFF;
}

	.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a i {
		color: #fff;
	}

.redux-container #info_bar {
	border: 0px;
}

.redux-container {
	background: #f6f6f6;
	border: 0px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.redux-container .button.button-primary {
	border-color: #00a0d2;
	box-shadow: none;
	border: 0px;
}

.redux-container .button,
.redux-container .button-secondary  {
	box-shadow: none;
	border-color: #DCDCDC;
}

#redux-footer .redux-action_bar .button {
	margin-left: 5px;
}

.redux-container form {
	margin: 0px;
}

.redux-container-image_select .redux-image-select .tiles, .redux-container-image_select .redux-image-select img, .redux-container-image_select .redux-image-select-selected .tiles, .redux-container-image_select .redux-image-select-selected img {
	border-width: 2px;
	padding: 2px;
}

.redux-container #redux-header {
	border: 0px !important;
}

/* 
===============================================
	Metaboxes
===============================================
*/

#blog_gallery_post_format,
#blog_video_post_format,
#blog_quote_post_format,
#blog_audio_post_format,
#blog_link_post_format {
	display: none;
}

.form-table h5 {
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	margin-bottom: 20px;
}

#poststuff h2.metabox-title {
	margin: -6px -12px 16px;
	padding: 0px 12px 10px;
	border-bottom: 1px solid #eee;
	font-size: 17px;
	font-weight: 300;
}

.metabox-option:last-child input,
.metabox-option:last-child select {
	margin-bottom: 0;
} 

.fullwidth-metabox.form-table {
	/*width: 600px;*/
	padding-top: 10px;
}

	.fullwidth-metabox.form-table input[type='text']:not(.wp-color-picker) {
		width: 280px;
	}
	
	.fullwidth-metabox.form-table select {
		width: 279px;
	}
	
	#slider_settings .fullwidth-metabox.form-table select {
	    width: 279px;
	    -webkit-appearance: menulist-button;
	    background: #EFEFEF !important;
	    border: #EFEFEF;
	    box-shadow: none;
	    height: 30px;
	}
	
	.fullwidth-metabox.form-table textarea {
		width: 70%;
		height: 80px;
	}
	
	.fullwidth-metabox.form-table textarea.portfolio_post_excerpt {
		width: 280px;
	}

.fullwidth-metabox.form-table h6 {
	font-weight: normal;
	width: 160px;
	font-size: 12px;
	float:left;
	margin: 0;
	margin-top: 7px;
	min-height: 32px;
}

	.fullwidth-metabox.form-table h6 span {
		color: #bbb;
		font-size: 11px;
	}

	span.form-caption { display: block; color: rgba(75, 75, 75, 0.41); }
	span.form-caption a { color: rgba(75, 75, 75, 0.41); }

.fullwidth-metabox .metabox-option {
	padding-bottom: 10px;
	overflow: hidden;
}

.image-upload img {
	height: 109px;
	width: auto;
	margin-bottom: 10px;
	border-radius: 3px;
}

.metabox-option-side {
	overflow: hidden;
}

.rs-update-notice-wrap,
.show-on-upload {
	display: none;
}

.modal.wpb-element-edit-modal .wpb-edit-form .textarea_raw_html {
	font-family: Open Sans, Arial;
	color: #333;
	font-size: 14px;
	word-break: initial;
	height: 75px;
}
#vntd_page_header_custom,
#vntd_page_header_slider {
	display: none;
}

.vc_element-icon {
	font-family: FontAwesome;
	font-style: normal;
	font-size: 30px;
	color: #ddd;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;	
}

.font-awesome_nav i.vc_element-icon,
.no-icon_nav i.vc_element-icon {
	background-image: none !important;
	font-size: 22px;
	line-height: 32px;
	text-align: center;
	background: rgb(58, 205, 144);
	border-radius: 5px;
	color: white;
}


/* SIDEBAR METABOX */

.side-options.form-table {
	margin: 15px 0 8px 0;
}

	.side-options.form-table h5 {
		margin: 15px 0 10px 0;
	}
	
	/*.side-options.form-table select {
		margin-bottom: 10px;
	}*/
	
.side-options > div:not(:last-child) {
	margin-bottom: 10px;
}

.admin-form input[type="number"] {
	width: 50px;
}

.wpb_element_wrapper {
    position: relative;
}

span.vc_admin_label.admin_label_bg_predefined_color {
	display: block;
	    position: absolute;
	    top: 7px;
	    color: #bbb;
	    font-weight: 400;
	    right: 10px;
	    font-size: 10px;
}


.admin-form .colorSelector {
	position: relative;
	width: 29px;
	height: 29px;
	background-color: #FFF !important;
	margin-top: 1px;
	border-radius: 2px;
	float: left;
	border: 1px solid #CCC !important;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05);
	background: none;
}

.admin-form .colorSelector div {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 19px;
	border-radius: 2px;
	height: 19px;
	background: none;
}

.admin-form .color-input {
	width: 67px !important;
	float: left;
	margin-left: 12px;
}

.colorpicker {
	z-index: 99999;
}

.rounded {
	border-radius: 200px !important;
	-webkit-border-radius: 200px !important;
	-moz-border-radius: 200px !important;
}

.insert-show {
	display: none;
}

.upload-thumbnail img {
	padding: 4px;
	border: 1px solid #ddd;
	border-radius: 3px;
	background-color: #fff;
	margin-bottom: 10px;
}


.hidden {
	display: none;
}

.not-hidden {
	display: block;
}

/* 
===============================================
	Gallery Metabox
===============================================
*/

.vntd-gallery-thumbs img {
	max-width: 50px;
	display: inline-block;
	border-radius: 2px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.vntd-gallery-or {
	font-size: 12px;
	line-height: 26px;
	padding: 0 4px;
	color: #999;
}

.type-team .column-thumbnail img.column-img,
.type-team .column-slider-thumbnail img.column-img,
.type-portfolio .column-thumbnail img.column-img,
.type-vntd_slider .column-thumbnail img.column-img {
	width: 50px;
	height: auto;
	float: right;
}

#my-frame .media-sidebar {
	display: none;
}

#my-frame .attachments,
#my-frame .media-toolbar {
	right: 0;
	margin-right: 0;
}

/* 
===============================================
	TinyMCE
===============================================
*/

.wp_themeSkin .mceMenu .mceText {
	padding: 0 25px 0 10px !important;
}

#menu_content_content_vntd_shortcodes_button_menu_tbl .mceIcon {
	display: none;
}

.mce-menubtn .mce-i-vntd_shortcodes_button {
	background: url(../../../shortcodes/tinymce/vntd_button.png);
}

/* 
===============================================
	Visual Composer
===============================================
*/


/*Main Sortable */

/*.wpb_bootstrap_modals .wpb-content-layouts-container .isotope-filter li a {
	border: 0;
	outline: 0;
}

.wpb_bootstrap_modals #vc_elements_name_filter {
	line-height: 18px;
	font-size: 12px;
	padding: 4px 6px 4px 25px;
}

.wpb_bootstrap_modals .wpb-content-layouts a {
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	margin: 0;
	padding: 0 4px;
}

.wpb_bootstrap_modals .vc-element-description {
	display: none !important;
}*/


/* Iconic Radios */

.iconic-radios {
	/*height: 150px;
	overflow: scroll;*/
}

.iconic-radios input {
	position: absolute;
	left: -9999px;
	height: 0;
}

.icon-checkboxes label,
.iconic-radios label {
	width: 38px;
	display: inline-block;
	height: 38px;
	color: #333;
	text-align: center;
	background: #F0F0F0;
	margin: 0 1px 1px 0;
	font-size: 14px;
	line-height: 38px;
	vertical-align: middle;
}

	.icon-checkboxes label:hover,
	.iconic-radios label:hover {
		background-color: #ddd;
	}

	.icon-checkboxes input[type="checkbox"]:checked+label,
	.iconic-radios input[type="radio"]:checked+label {
		background: #444;
		color: #fff;
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
	} 
	
.icon-checkboxes input {
	display: none !important;
}

.wpb_bootstrap_modals .vc-element-icon.icon-services {
	background: url('../../../../wpbakery/assets/icons/key.png') no-repeat;
}
	
	
/*Icons*/

@font-face {
  font-family: 'fontello';
  src: url('../fontello/font/fontello.eot?73430805');
  src: url('../fontello/font/fontello.eot?73430805#iefix') format('embedded-opentype'),
       url('../fontello/font/fontello.woff?73430805') format('woff'),
       url('../fontello/font/fontello.ttf?73430805') format('truetype'),
       url('../fontello/font/fontello.svg?73430805#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wpb_bootstrap_modals .wpb-content-layouts i[class^='vc-element-icon fa'] {
	font-size: 28px;
	color: #999;
	font-family: FontAwesome;
	font-style: normal;
	/*margin-bottom: 6px;*/
	line-height: 1;
	-webkit-transition: color .2s;
	transition: color .2s;
	-moz-transition: color .2s;
	background-image: none;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	text-align: center;

}




/*.wpb_bootstrap_modals .wpb-content-layouts a {
	color: #666;
	-webkit-transition: color .2s, background-color .2s;
	-moz-transition: color .2s, background-color .2s;
	transition: color .2s, background-color .2s;
	height: 90px;
	padding: 2px 4px;
	text-align: center;
	font-weight: 400;
}*!/*/

.wpb-content-layouts li .vc-el-container {
	width: 100%;
}

/*.wpb_content_element > .wpb_element_wrapper {
	background: #f5f5f5 url('../images/bg.jpg') no-repeat left top;
}*/

.wpb_element_wrapper .font-awesome .vc_element-icon {
	background: none !important;
}

.wpb_element_wrapper .font-awesome .vc_element-icon:before {
	content: none;
}

#visual_composer_content .wpb_icon_box .wpb_element_wrapper {
	text-align: center;
}

#visual_composer_content .wpb_icon_box .wpb_element_wrapper:before {
	position: relative !important;
	display: block;
	text-align: center !important;
	left: 0 !important;
	top: 4px !important;
	width: auto !important;
}

#visual_composer_content .wpb_social_icons .wpb_vc_param_value {
	display: none;
}

#visual_composer_content .font-awesome .wpb_element_wrapper:before {
	position: absolute;
	  font-family: FontAwesome;
	  -webkit-font-smoothing: antialiased;
	  font-weight: 300;
	  font-style: normal;
	  color: #FFF;
	  font-size: 24px;
	  left: 9px;
	  background: rgb(58, 205, 144);
	  top: 11px;
	  line-height: 36px;
	  width: 36px;
	  max-width: 36px;
	  margin: 0 auto;
	  height: 36px;
	  border-radius: 5px;
	  text-align: center;
}

#visual_composer_content .font-awesome .wpb_element_wrapper,
#visual_composer_content .no-icon .wpb_element_wrapper {
	background: #fff;
}

/*.wpb_bootstrap_modals .wpb-content-layouts li a:hover {
	background: #68BAD5;
	color: #fff;
}

.wpb_bootstrap_modals .wpb-content-layouts li a:hover i {
	color: #fff;
	background-position: 0 32px;
}*/

	
	/*.wpb-content-layouts i.icon-wpb-single-image:before {
		content: "\f03e";
	}
	
	#visual_composer_content .wpb_gmap .wpb_element_wrapper:before,
	.wpb-content-layouts i.icon-wpb-map-pin:before {
		content: "\f041";
	}
	
	#visual_composer_content .wpb_vc_facebook .wpb_element_wrapper:before,
	.wpb-content-layouts i.icon-wpb-balloon-facebook-left:before {
		content: "\f09a";
	}
	
	#visual_composer_content .wpb_vc_tweetmeme .wpb_element_wrapper:before,
	.wpb-content-layouts i.icon-wpb-tweetme:before {
		content: "\f099";
	}
	
	#visual_composer_content .wpb_vc_googleplus .wpb_element_wrapper:before,
	.wpb-content-layouts i.icon-wpb-application-plus:before {
		content: "\f0d5";
	}
	
	#visual_composer_content .wpb_vc_video .wpb_element_wrapper:before,
	.wpb-content-layouts i.icon-wpb-film-youtube:before {
		content: "\f008";
	}
	
	#visual_composer_content .wpb_vc_widget_sidebar .wpb_element_wrapper:before,
	.wpb-content-layouts i.icon-wpb-layout_sidebar:before {
		content: "\f03c";
	}
	
	#visual_composer_content .wpb_contact-form-7 .wpb_element_wrapper:before,
	.wpb-content-layouts i.icon-wpb-contactform7:before {
		content: "\f003";
	}
	
	#visual_composer_content .wpb_layerslider_vc .wpb_element_wrapper:before,
	.wpb-content-layouts i.icon-wpb-layerslider:before,
	#visual_composer_content .wpb_rev_slider_vc .wpb_element_wrapper:before,
	.wpb-content-layouts i.icon-wpb-revslider:before {
		content: "\f021";
	}*/
	
	/*#visual_composer_content .wpb_cta .wpb_element_wrapper:before,
	.wpb-content-layouts i.icon-wpb-call-to-action:before {
		content: "\f064";
	}*/
	/*
	#visual_composer_content .wpb_vc_raw_html .wpb_element_wrapper:before,
	.wpb-content-layouts i.icon-wpb-raw-html:before {
		content: "\f121";
	}*/
	
	/*#visual_composer_content .wpb_vc_progress_bar .wpb_element_wrapper:before,
	.wpb-content-layouts i.icon-wpb-graph:before {
		content: "\f0ae";
	}*/
	
	#visual_composer_content .fa-twitter {
		text-align: center;
		line-height: 30px;
	}
	
	#visual_composer_content .fa-twitter:before {
		content: "\f099" !important;
	}
	#visual_composer_content .wpb_pricing_box .wpb_element_wrapper:before {
		content: "\f155";
	}
	
	#visual_composer_content .wpb_blog .wpb_element_wrapper:before {
		content: "\f0f6";
	}	
	
	#visual_composer_content .wpb_team_member .wpb_element_wrapper:before {
		content: "\f0c0";
	}
	
	#visual_composer_content .wpb_testimonials .wpb_element_wrapper:before {
		content: "\f086";
	}
	
	#visual_composer_content .wpb_icon_box .wpb_element_wrapper:before {
		content: "\f05d";
	}
	
	#visual_composer_content .wpb_portfolio_grid .wpb_element_wrapper:before {
		content: "\f00a";
	}
	
	#visual_composer_content .wpb_veented_slider .wpb_element_wrapper:before {
		content: "\f03e";
	}
	
	#visual_composer_content .wpb_blog_carousel .wpb_element_wrapper:before,
	#visual_composer_content .wpb_blog .wpb_element_wrapper:before {
		content: "\f0f6";
	}
	
	#visual_composer_content .wpb_counter .wpb_element_wrapper:before {
		content: "\f017";
	}
	
	#visual_composer_content .wpb_vntd_fullscreen_slider .wpb_element_wrapper:before {
		content: "\f0b2";
	}
	
	#visual_composer_content .wpb_callout_box .wpb_element_wrapper:before {
		content: "\f036";
	}
	
	#visual_composer_content .wpb_social_icons .wpb_element_wrapper:before {
		content: "\f099";
	}
	
	#visual_composer_content .wpb_icon_box .wpb_element_wrapper:before {
		content: "\f05d";
	}
	
	#visual_composer_content .wpb_portfolio_details .wpb_element_wrapper:before {
		content: "\f0f2";
	}
	
	#visual_composer_content .wpb_video_lightbox .wpb_element_wrapper:before {
		content: "\f01d";
	}
	
	#visual_composer_content .wpb_fancy_text_block .wpb_element_wrapper:before {
		content: "\f022";
	}
	
	#visual_composer_content .wpb_contact_block .wpb_element_wrapper:before {
		content: "\f199";
	}
	
	#visual_composer_content .wpb_vntd_hero_section .wpb_element_wrapper:before {
		content: "\f06e";
	}
	
	#visual_composer_content .wpb_team_carousel .wpb_element_wrapper:before {
		content: "\f0c0";
	}
	
	#visual_composer_content .wpb_team_grid .wpb_element_wrapper:before {
		content: "\f0c0";
	}
	
	#visual_composer_content .wpb_logos_carousel .wpb_element_wrapper:before {
		content: "\f13c";
	}
	
	#visual_composer_content .wpb_portfolio_carousel .wpb_element_wrapper:before {
		content: "\f0b1";
	}
	
	#visual_composer_content .wpb_services_carousel .wpb_element_wrapper:before {
		content: "\f0ad";
	}
	
	#visual_composer_content .wpb_cta > .wpb_element_wrapper {
		background-image: url(../../img/vc/cta_align_right.png);
	}
	
	#visual_composer_content .wpb_vntd_contact_form > .wpb_element_wrapper {
		background-image: url(../../img/vc/contactform7_32.png);
	}

.wpb_vc_slider .attachment-thumbnails li {
	height: 20px;
	width: 20px;
	overflow: hidden;
	margin-right: 1px;
	margin-bottom: 0;
	display: inline-block;
}

.wpb_vc_slider .attachment-thumbnails {
	overflow: hidden;
	height: 20px;
	padding: 0px;
	margin: 0;
}

/*Button*/

#visual_composer_content .wpb_special_heading .wpb_element_title,
#visual_composer_content .wpb_icon_box .wpb_element_title,
#visual_composer_content .wpb_button .wpb_element_title {
	display: none;
}
.wpb_contact_block .wpb_element_wrapper,
.wpb_fancy_text_block .wpb_element_wrapper,
#visual_composer_content .wpb_special_heading .wpb_element_wrapper,
#visual_composer_content .wpb_icon_box .wpb_element_wrapper {
	height: auto !important;
}

h2.wpb_vc_param_value {
	margin-top: 8px !important;
}


#visual_composer_content .wpb_button .wpb_element_wrapper {
	padding: 15px 10px 10px 10px;
}
	
	
/*Centered Heading*/
	
#visual_composer_content .wpb_special_heading .wpb_element_wrapper {
	padding: 15px;
	text-align: center;
}
#visual_composer_content .wpb_icon_box h5,
#visual_composer_content .wpb_special_heading h5 {
	  font-size: 24px;
	  margin-bottom: 15px;
	  margin-top: 15px;
}

#visual_composer_content .wpb_special_heading span.subtitle {
	padding: 0;
	opacity: 0.9;
	max-width: 600px;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
}

#visual_composer_content .wpb_icon_box span.wpb_vc_param_value {
	padding: 0;
	font-size: 12px;
	color: #888;
}

#vntd_footer_column_margin {
	width: 50px !important;
}

.wpb_vc_separator .wpb_element_wrapper {
	/*background-color: none !important;*/
}

/* Separator */

/*#visual_composer_content .wpb_vc_separator .wpb_element_wrapper .space_height {
	height: 1px;
	background: #ddd;
	width: 100%;
	display: block;
	text-indent: -999px;
}

#visual_composer_content .wpb_vc_separator .wpb_element_wrapper {
	padding: 10px 0;
	min-height: initial;
	height: auto;
	border-color: rgba(0,0,0,0);
	background: none;
	cursor: move;
}*/


/* Modal Window */


/*body .wpb_bootstrap_modals {
	-webkit-transform: translateY(40px);
	opacity: 0;
}

	body .wpb_bootstrap_modals.in {
		position: fixed;
		top: 50px;
		bottom: 30px;
		left: 50%;
		margin-left: -385px;
		z-index: 9999;
		width: 770px;
		border-radius: 5px;	
		-webkit-transition: opacity .4s, -webkit-transform .4s;
		-webkit-transform: translateY(0px);
		opacity: 1;
	}
	
	.wpb_bootstrap_modals .vc_row-fluid {
		-webkit-animation: modal_content 0.2s 1 ease-out; /* Safari 4+ *!/
		-moz-animation:    modal_content 0.2s 1 ease-out; /* Fx 5+ *!/
		-o-animation:      modal_content 0.2s 1 ease-out; /* Opera 12+ *!/
		animation:         modal_content 0.2s 1 ease-out; /* IE 10+ *!/
	}*/
	
	@-webkit-keyframes modal_content {
		0%   { -webkit-transform:translateY(-10px); opacity:0; }
		100% { -webkit-transform:translateY(0); opacity:1;  }
	}
	@-moz-keyframes modal_content {
		0%   { -webkit-transform:translateY(-10px); opacity:0; }
		100% { -webkit-transform:translateY(0); opacity:1;  }
	}
	@-o-keyframes modal_content {
		0%   { -webkit-transform:translateY(-10px); opacity:0; }
		100% { -webkit-transform:translateY(0); opacity:1;  }
	}
	@keyframes modal_content {
		0%   { -webkit-transform:translateY(-10px); opacity:0; }
		100% { -webkit-transform:translateY(0); opacity:1;  }
	}
	
	/*.wpb_bootstrap_modals button.close {						
		background: #FFF;
		width: 26px;
		height: 26px;
		font-family: FontAwesome;
		border: 0;
		font-weight: bold;
		color: #555;
		font-size: 15px;
		content: "\f00d";
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.34);
		-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.34);
		-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.34);
		z-index: 99;
		outline: 0;
		margin-top: -14px;
	}
	
	.wpb_bootstrap_modals button.close:hover {
		opacity: 1;
	}*/

	/*.wpb-edit-form-inner > img {
		margin: 0 auto;
		display: inline-block;
		margin-left: 332px;
		margin-right: 10px;
		margin-bottom: -3px;
		margin-top: 80px;
	}

	body .wpb_bootstrap_modals .modal {
		position: relative;
		margin-left: 0;
		height: 100%;
	}
	
	body .wpb_bootstrap_modals .modal .modal-header {
		background: #FFF;
		width: 100%;
		box-sizing: border-box;
		border-radius: 2px 2px 0 0;
		padding: 10px 20px;
	}
	
		
		
	body .wpb_bootstrap_modals .wpb-elements-list-modal .modal-body {
		top: 0 !important;
	}
	
	body .wpb_bootstrap_modals .modal .modal-body {
		position: absolute;
		overflow: auto;
		bottom: 50px;
		top: 51px;
		left: 0;
		right: 0;
		box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
		max-height: 100%;
		padding: 15px 20px;
	}
	
	
	
	body .wpb_bootstrap_modals .modal .modal-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		box-sizing: border-box;
		box-shadow: 1px -2px 3px rgba(0, 0, 0, 0.04);
		border-radius: 0 0 2px 2px;
	} 
	
	/*	Elements List Modal *!/

	body .wpb_bootstrap_modals .wpb-elements-list-modal.modal {
		width: auto;
		margin-left: -127px;
		margin-right: -127px;
		left: 0;
		position: relative;
	}
	
	.modal-body.wpb-elements-list {
		bottom: 8px !important;
	}
	
	.wpb_bootstrap_modals .wpb-content-layouts-container {
		width: 982px;
	}*/
	
body .wpb_element_label {
	margin-bottom: 12px;
}

body .wpb_edit_form_elements span.description {
	color: #aaa;
}

/* Shortcodes Main Sortable */

/*.wpb_main_sortable.main_wrapper .widgets-placeholder {
	border: 1px dashed #B8B8B8;
	background-image: none;
	border-radius: 3px;
	background: #F7F7F7;
	margin-top: 10px;
}*/

/* Separator */

/*#wpb_visual_composer .wpb_vc_separator.wpb_content_element .wpb_element_wrapper {
	text-indent: -9999px;
	padding: 0 3px;
	background: none;
	border: 0;
	cursor: move;
}

	#wpb_visual_composer .wpb_vc_separator.wpb_content_element .wpb_element_wrapper:hover {
		background: #fefefe;
	}

	#wpb_visual_composer .wpb_vc_separator.wpb_content_element .wpb_element_wrapper:after {
		height: 1px;
		width: 100%;
		content: '';
		border: 0;
		display: block;
		background: #ccc;
		margin-top: 15px;
	}*/
	


/* Slider *!/

.wpb_vc_slider .attachment-thumbnails {
	overflow: hidden;
	height: 20px;
	padding: 0px;
	margin: 0;
}

	.wpb_vc_slider .attachment-thumbnails li {
		height: 20px;
		width: 20px;
		overflow: hidden;
		margin-right: 1px;
		margin-bottom: 0;
		display: inline-block;
	}

	.wpb_vc_slider .attachment-thumbnails img {
		height: 20px;
		width: auto;
	}


/* Accordion *!/

#wpb_visual_composer #visual_composer_content .wpb_accordion_holder h3.ui-accordion-header {
	border: 1px solid #d1d1d1 !important;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#ECECEC),to(#F9F9F9));
	background-image: -webkit-linear-gradient(bottom,#ECECEC,#F9F9F9);
	background-image: -moz-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: -o-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: linear-gradient(to top,#ECECEC,#F9F9F9);
}

	.wpb_content_element .ui-tabs .ui-tabs-nav li a,
	#wpb_visual_composer h3.ui-accordion-header .tab-label {
		color: #686868 !important;
	}

#wpb_visual_composer .wpb_accordion_holder .group.wpb_sortable {
	margin-top: -2px;
}

#wpb_visual_composer .wpb_accordion_holder .wpb_vc_accordion_tab {
	margin-top: 0 !important;
}

	
/* Button *!/

.wpb_vd_button h4 {
	display: none;
}

.wpb_vd_button button {
	padding: 6px 12px;
	font-size: 12px;
	color: #444;
	cursor: default;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}*/

/*==========================*/
/*===  Browser Window    ===*/
/*==========================*/

.preview-fullwidth {
	width: 100%;
}

.controls-full .browser-window {
	width: 100%;
	max-width: 1000px;
	float: right;
}

.controls-full .browser-content {
	line-height: 1.4em;
	padding: 0;
}

.controls-full .browser-content > div {
	padding: 15px 60px;
}

.browser-window {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}

.browser-content {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 0 70px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0 1px 2px #eee;
	line-height: 70px;
	color: #777;
}

.browser-header {
	height: 34px;
	background-color: #f4f4f4;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	line-height: 34px;
	font-weight: bold;
	color: #777;
	border: 1px solid #d3d3d3;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.fullscreen-bg {
	background-color: #eee;
	margin: 0 -70px;
	padding: 0 70px;
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: #ddd;	
	line-height: 160px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.browser.button {
	margin-bottom: 5px;
}





.label-radios input {
	position: absolute;
	left: -9999px;
	display: none;
}

.label-radios label {
	display: inline-block;
}

	.label-radios label img {
		padding: 1px;
		border: 2px solid #f0f0f0;
	}
	
	.label-radios label span {
		display: block;
		font-size: 11px;
		width: 80px;
	}

	.label-radios input[type="radio"]:checked+label img{
		border: 2px solid #bbb;
	} 
	
.wpb_divider .wpb_element_wrapper,
.wpb_divider_line .wpb_element_wrapper {
	display: none !important;
}

/* 
===============================================
	Styling
===============================================
*/

#panel-tab-title h3,
#of-nav li a {
	color: #fff;
}

#panel-tab-title {
	background: #eee !important;
	
	background: #fff !important;
	border-bottom: 1px solid #e6e6e6;
	border-left: 0;
}

#wpbody #of_container #content {
/*	border-right: 1px solid #e1e1e1;*/
}

#panel-tab-title h3 {
	color: #333 !important;
}

.theme-customizer-nav {
	background: #fff !important;
	border-bottom: 1px solid #e6e6e6;
}

.clear {
	clear: both;
}

.vntd-widget-categories {
	margin-bottom: 3px;
}

/*Default*/

/*.admin-color-blue .theme-customizer-nav,
.wp-admin #panel-tab-title,
.wp-admin #of_container #main {
	background: #222;
}

.wp-admin #of-nav li:hover a,
.wp-admin #of-nav li:hover a i {	
	color: #2EA2CC;
}

.wp-admin #of-nav li:hover a { 
	background: #111;
}

.wp-admin.admin-color-default #of-nav li a:hover i {
	color: #2EA2CC;
}

#of-nav li a:hover i {
	color: #fff;
}

.wp-admin #of-nav li.current a {
	background: #0074A2;
}

.wp-admin #of-nav li.current i,
.wp-admin #of-nav li.current:hover i {
	color: #fff;
}

.theme-customizer-nav .tab-current {
	color: #0074A2;
}


/*Blue*!/

.admin-color-blue .theme-customizer-nav,
.admin-color-blue #panel-tab-title,
.admin-color-blue #of_container #main {
	background: #52ACCC;
}

.admin-color-blue #of-nav li:hover a,
.admin-color-blue #of-nav li.current a {
	background: #096484;
}

.admin-color-blue .theme-customizer-nav .tab-current {
	color: #096484;
}

.admin-color-blue div#of-nav ul li a i {
	color: #E5F8FF;
}

/*Coffee*!/

.admin-color-coffee .theme-customizer-nav,
.admin-color-coffee #panel-tab-title,
.admin-color-coffee #of_container #main {
	background: #59524C;
}


.admin-color-coffee #of-nav li:hover a,
.admin-color-coffee #of-nav li.current a {
	background: #C7A589;
}

.admin-color-coffee .theme-customizer-nav .tab-current {
	color: #C7A589;
}

.admin-color-coffee #of-nav li:hover a,
.admin-color-coffee #of-nav li:hover a i {	
	color: #fff;
}

/* Light *!/

.admin-color-light .theme-customizer-nav,
.admin-color-light #panel-tab-title,
.admin-color-light #of_container #main {
	background: #e5e5e5;
}

.admin-color-light #of-nav li:hover a,
.admin-color-light #of-nav li.current a {
	background: #999;
}

.admin-color-light #of-nav li a {
	color: #333 !important;
}

.admin-color-light #of-nav li a i {
	color: #999;
}

.admin-color-light #of-nav li:hover a,
.admin-color-light #of-nav li.current a {
	color: #fff !important;
}
.admin-color-light #of-nav li:hover a i,
.admin-color-light #of-nav li.current a i {
	color: #ccc;
}

.admin-color-light #main #of-nav h2 {
	color: #555;
}


/* Ectoplasm *!/

.admin-color-ectoplasm .theme-customizer-nav,
.admin-color-ectoplasm #panel-tab-title,
.admin-color-ectoplasm #of_container #main {
	background: #523F6D;
}


.admin-color-ectoplasm #of-nav li:hover a,
.admin-color-ectoplasm #of-nav li.current a {
	background: #A3B745;
}

.admin-color-ectoplasm .theme-customizer-nav .tab-current {
	color: #A3B745;
}

/* Midnight *!/

.wp-admin .theme-customizer-nav,
.admin-color-midnight #panel-tab-title,
.admin-color-midnight #of_container #main {
	background: #363B3F;
}

.admin-color-midnight #of-nav li:hover a,
.admin-color-midnight #of-nav li.current a {
	background: #E14D43;
}

.admin-color-midnight .theme-customizer-nav .tab-current {
	color: #E14D43;
}

/* Ocean *!/

.admin-color-ocean .theme-customizer-nav,
.admin-color-ocean #panel-tab-title,
.admin-color-ocean #of_container #main {
	background: #738E96;
}


.admin-color-ocean #of-nav li:hover a,
.admin-color-ocean #of-nav li.current a {
	background: #9EBAA0;
}

.admin-color-ocean .theme-customizer-nav .tab-current {
	color: #9EBAA0;
}

.admin-color-ocean div#of-nav ul li a i {
	color: #F2FCFF;
}

.admin-color-ocean #of-nav li:hover a,
.admin-color-ocean #of-nav li:hover a i {	
	color: #fff;
}

/* Sunrise *!/

.admin-color-sunrise .theme-customizer-nav,
.admin-color-sunrise #panel-tab-title,
.admin-color-sunrise #of_container #main {
	background: #CF4944;
}

.admin-color-sunrise #of-nav li:hover a,
.admin-color-sunrise #of-nav li.current a {
	background: #DD823B;
}

.admin-color-sunrise .theme-customizer-nav .tab-current {
	color: #DD823B;
}*/


/* SLIDER STYLING FOR ADMIN */

.slide-button,
.slide-button-black {
	text-transform: uppercase;
	text-decoration: none !important;
	font-size: 14px;
}

.slide-button-black,
.home-button-1{
	display: inline-block;
	margin:0 3px;
	padding:8px 21px;
	border:1px solid rgba(255,255,255,0.1);
	background:rgba(0,0,0,0.3);
	color:#979592 !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.slide-button{
	width:auto;
	height: auto;
	padding:10px 20px;
	background:rgba(255,255,255,0.7);
	display: inline-block;
	border:1px solid #ededed;
	color:#a3a3a3 !important;
	text-align:center;
	font-size:14px;
}

.slide-button a,
a.slide-button{
	color:#a3a3a3;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.edit_slide_wrapper .social-icon{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background:white;
	display: inline-block;
	margin:0 3px !important;
	color:#c5c5c5;
	padding:4px !important;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
}


.edit_slide_wrapper .social-icon a{
	color:#c5c5c5;
}

.ls-layers .gray,
.slide_layers .gray {
	color: #919191;
}

.type-theme_demos .thumbnail img {
	border: none;
    height: 80px;
    width: auto;
    float: right;
}

.vc-license-activation-notice {
	display: none !important;
}


/* Demo Importer */

.redux-main .wbc_importer .theme-browser .theme .theme-screenshot img {
	width: 90% !important;
	margin: 0 auto;
	margin-top: 15px;
	display: block;
	position: relative;
	transition: opacity .3s;
	-webkit-backface-visibility: hidden;
}

.redux-main .theme-browser .theme .theme-screenshot:after {
	display: none !important;
	content: none;
}

.theme-browser .themes {
	margin-right: -2.6%;
}

.redux-main .theme-browser .theme {
	box-shadow: none;
	border: 0px;
	background: #fff;
	border: 1px solid #f1f1f1;
	transition: background-color .3s;
	display: none;
	margin: 0 2.6% 3% 0;
}

	@media only screen and (min-width: 1640px) {
		
		.redux-main .theme-browser .theme {
			margin: 0 2.2% 2.4% 0;
		}
		
	}
	
	@media only screen and (max-width: 1150px) {
		
		.redux-main .theme-browser .theme {
			margin: 0 3% 3% 0;
			width: 47%;
		}
		
	}
	
	@media only screen and (max-width: 660px) {
		
		.theme-browser .themes {
			margin-right: 0px;
		}
		
		.redux-main .theme-browser .theme {
			margin: 0 0% 3% 0;
			width: 100%;
		}
		
	}

	.redux-main .theme-browser .theme.theme-visible {
		display: block;
	}

.redux-main .theme-browser .theme .theme-name {
	box-shadow: none;
	border: 0px;
	background: #fff;
	border-top: 1px solid #f1f1f1;
	font-weight: 400;
	font-size: 12px;
	-webkit-box-shadow: none;
	transition: background-color .3s;
}

.redux-main .theme-browser .theme .theme-actions .button-primary {
	box-shadow: none;
	border: 0px;
	text-shadow: none;
	border-radius: 1px;
}

.redux-main .theme-browser .theme .theme-screenshot {
	background: none !important;
}

/*.redux-main .theme-browser .theme:hover {
	background-color: #eaeaea;
}*/

.redux-main .theme-browser .theme:hover img,
.redux-main .theme-browser .theme.imported img {
	opacity: 0.2;
}

.redux-main .theme-browser .theme:hover .theme-name {
	background-color: #EFEFEF;
}

.redux-main .theme-browser .button,
.redux-main .theme-browser .button-secondary {
	border-radius: 1px;
	border: 0px;
	box-shadow: none;
}

.redux-main .theme-browser .theme.active .theme-actions {
	background: rgba(49, 49, 49, 0.08);
}

.redux-main .theme-browser .theme.active .button-secondary {

}

.redux-main .theme-browser .theme.active .theme-name {
	color: #bbb;
}

.redux-main .theme-browser .red-color {
	color: #F11F1F;
	font-weight: 600;
}

.redux-main .theme-browser .theme.imported .red-color {
	color: rgba(241, 31, 31, 0.24);
}

.redux-main .theme-browser .theme-overlay {
	position: absolute;
    top: 50%;
    margin-top: -12px;
    text-align: center;
    font-weight: 400;
    left: 0;
    padding: 0px 10px;
    font-size: 13px;
    right: 0;
    display: none;
}

	.redux-main .theme-browser .theme-overlay p {
		font-size: 12px;
		line-height: 1.6em;
		color: #555;
	}
	
.redux-main .demo-type {
	position: absolute;
    top: 0;
    left: 0;
    background: #DE3680;
    z-index: 2;
    color: #fff;
    font-size: 12px;
    padding: 6px 10px;
}

	.redux-main .demo-type.demo-type-fullpage {
		background: #7B53C1;
	}

.redux-main .theme-browser .theme .more-details {
	background: #333;
	border-radius: 1px;
	text-shadow: none;
	transition: opacity .3s;
}

	.redux-main .theme-browser .theme .more-details:hover {
		opacity: 0.8;
	}

#demo-filters {
	overflow: hidden;
	list-style: none;
	padding: 0px;
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 25px;
	    margin-top: 10px;
}

	#demo-filters:before {
		display: block;
		content: "";
		height: 1px;
		background: #eee;
		width: 100%;
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
	
#demo-filters li {
	float: left;
	margin-right: 15px;
	padding: 4px 0px 12px;
	cursor: pointer;
	color: #999;
	font-size: 13px;
	border-bottom: 1px solid #eee;
	position: relative;
	transition: color .3s;
}

	#demo-filters li:after {
		display: block;
		content: "";
		height: 1px;
		background: transparent;
		position: absolute;
		bottom: -1px;
		left: 0px;
		right: 0px;
	}
	
	#demo-filters li:hover {
		color: #555;
	}
	
	#demo-filters li.active {
		color: #555;
	}

	#demo-filters li.active:after {
		background: #00a0d2;
	}


